@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}
footer{
	margin-top : 500px;
	margin: 0 auto;
	background: #F6CEF5;
	text-align: center;
	font-size: 25px;
	
	
}
.헤드{
	background: #F6CEF5;
}
.헤드 a{
	margin-left: 50px;
	
}
.ㅇ{
	text-align: center;
	font-size: 50px;
	margin: 25px;
}
.ㅇㅇ{
	margin: 15px;
}
h3{
	margin: 15px;
}
header{
	text-align:center;
	font-size: 50px;
	margin: 15px;
	
}
.조회{
	margin: 0 auto;
	border: 1px solid ;
}
.조회 th, td{
	border: 1px solid ;
}
.조회1{
	margin: 40px;
	margin-left: 800px;
}